body {
    color: #9c3391;
}
#image {
    display: flex;
    justify-content: space-around;
}

#image img {
    margin-top: 4%;
    width: 300px;
    height: 271px;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin-top: 4%;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
}



.associative {
    background-color: #d9d9d9;
    height: auto;
}
#h1 h1 {
    text-align: center;
}

#nosPartenaires {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}

#nosPartenaires  img{
    width: 240px;
    height: 170px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Ajoutez un espacement entre les éléments si nécessaire */
}

.flex-container a {
    flex: 1 1 18%; /* Ajustez cette valeur pour le nombre d'éléments par ligne */
    text-align: center; /* Centrez les éléments, si nécessaire */
    margin-bottom: 10px; /* Ajoutez un espacement en bas des éléments si nécessaire */
}
@media screen and (max-width: 1500px) {
    #nosPartenaires {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5%;
    }
    #nosPartenaires  img{
        width: 200px;
        height: 120px;
    }
  }
@media screen and (max-width: 770px) {
    #image img {
        margin-top: 4%;
        width: 250px;
        height: 171px;
    }
    #description p{
        font-size: 16px;
    }

}
@media screen and (max-width: 600px) {
    #image img {
        margin-top: 4%;
        width: 200px;
        height: 140px;
    }
    #description p{
        font-size: 14px;
    }

}
@media screen and (max-width: 470px) {
    #image img {
        margin-top: 4%;
        width: 190px;
        height: 120px;
    }
    #description p{
        font-size: 12px;
    }

}
@media screen and (max-width: 390px) {
    #nosPartenaires  img{
        width: 190px;
        height: 120px;
    }
    #description p{
        font-size: 12px;
    }

}